<div>
	<%= @contact.name %>
</div>
<div>
	<%= @contact.address %>
</div>
<div>
	<%= link_to("Update Contact", edit_contact_path(@contact)) %>
</div>
<div>
	<%= link_to("Delete Contact", contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?'}) %>
</div>
<div>
	<%= link_to("Add Email", new_contact_email_path(@contact)) %>
</div>
<div>
	<ul>
	<% @contact.emails.each do |e| %>
		<li>
			<%= e.email_address %>
			<%= link_to("Update", edit_contact_email_path(@contact, e)) %>
			<%= link_to("Delete", contact_email_path(@contact, e), method: :delete, data: { confirm: 'Are you sure?'}) %>
		</li>
	<% end %>
	</ul>
</div>