<!DOCTYPE html>
<html>
<head>
  <title>Addressbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>
		<h1>Welcome to the Address Book App</h1>
	</p>

	<%= yield %>

	<p>
		<a href="/">Home</a> | <a href="/contacts/new">Add Contact</a> | <a href="/contacts">Contact List</a>
	</p>

	<p>
		<% counter = 0 %>
		<% ('a'..'z').each do |letter| %>
			<% if counter == 0 %>
				<% counter = 1 %>
			<% else %>
				<%= ' | ' %>
			<% end %>
				<a href="<%= letter %>"><%= letter %></a>
		<% end %>
	</p>

</body>
</html>
